#buildings {
  width: 100%;
  display: flex;
}
#buildings calcite-card {
  width: calc(50% - 2em);
  margin: 1em;
}

.card-index {
  margin-top: 4px;
}

.hidden {
  visibility: hidden;
}

.total {
  font-weight: bold;
}

.info-icon {
  float: right;
}

@media only screen and (max-width: 500px) {
  #buildings {
    flex-direction: column;
  }
  #buildings calcite-card {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-top: 1em;
  }
}

