@import "@esri/calcite-components/dist/calcite/calcite.css";
@import "https://js.arcgis.com/4.27/@arcgis/core/assets/esri/themes/light/main.css";

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgb(236, 236, 236);
}

calcite-card {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: rgb(204, 204, 204) -10px 5px 30px 0px;
}

:root {
  --calcite-ui-brand: #4a8b2c;
  --calcite-ui-brand-hover: #4a8b2c;
}

@media only screen and (max-width: 500px) {
  calcite-card {
    max-width: auto;
    width: 100%;
  }
}

calcite-card span[slot="title"] {
  text-align: center;
  color: var(--calcite-ui-brand);
  font-size: 24px;
  font-weight: var(--calcite-font-weight-medium);
  text-decoration: underline;
}
